<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body">
    <h1>
        We are Learning EJS
        <%= name %>
    </h1>
    <ul>
        <% products.forEach(product => { %>
            <li>Product Title: <%= product.title %> - Price: <%= product.price %></li>
        <% }) %>
    </ul>
</body>
</html>
